<section class="meal-plan-form">
  <%= form_for meal_plan do |f| %>

    <% if meal_plan.errors.any? %>
      <%= render partial: "shared/form_errors", locals: { object: meal_plan } %>  
    <% end %>

    <div class="form-group">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :recipes %> 
      <input type="hidden" name="meal_plan[recipe_ids][]" value>

      <% if current_user.recipes.empty? %>
          <p>You don't have any recipes created! Go <%= link_to "create some", new_recipe_path %>.</p>
      <% end %>

      <% current_user.recipes.each do |r| %>
        <% checked = meal_plan.recipes.include?(r) ? "checked=\"checked\"" : "" %>
        <div class="checkbox">
          <label data-value="<%= r.id %>" for="meal_plan_recipe_ids_<%= r.id %>">
            <input type="checkbox" value="<%= r.id %>" <%= checked %> name="meal_plan[recipe_ids][]" id="meal_plan_recipe_ids_<%= r.id %>">
            <%= r.name %>
          </label>
          <%= link_to r, target: "_blank" do %>
            <i class="glyphicon glyphicon-list-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.submit submit_text, class: "btn btn-default", id: "submit_meal_plan" %>
    </div>

  <% end %>
</section>
