<% content_for :page_header do %>
  <h1>Meal Plans</h1>
<% end %>

<section class="meal-plan-collection">
  <table class="meal-plan-collection__table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Active</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @meal_plans.each do |meal_plan| %>
        <tr>
          <td><%= meal_plan.name %></td>
          <td><%= meal_plan.active %></td>
          <td><%= link_to 'Show', meal_plan %></td>
          <td><%= link_to 'Edit', edit_meal_plan_path(meal_plan) %></td>
          <td><%= link_to 'Destroy', meal_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="meal-plan-actions">
  <ul class="meal-plan-actions__list">
    <li class="meal-plan-actions__list-item"><%= link_to 'New Meal Plan', new_meal_plan_path %></li>
  </ul>
</section>
