<div class="devise-shared-links">
  <ul class="devise-shared-links__list">
    <%- if controller_name != 'sessions' %>
      <li class="devise-shared-links__list-item"><%= link_to "Log in", new_session_path(resource_name), class: "devise-shared-links__link" %></li>
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <li class="devise-shared-links__list-item"><%= link_to t('devise.shared_links.forgot_password'), new_password_path(resource_name), class: "devise-shared-links__link" %>
    <% end -%>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <li class="devise-shared-links__list-item"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "devise-shared-links__link"  %>
    <% end -%>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <li class="devise-shared-links__list-item"><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "devise-shared-links__link" %>
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <li class="devise-shared-links__list-item">New to FOODweek? <%= link_to "Sign up here", new_registration_path(resource_name), class: "devise-shared-links__link" %>.</p>
    <% end -%>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <li class="devise-shared-links__list-item"><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "devise-shared-links__link" %></li>
      <% end -%>
    <% end -%>
  </ul>
</div>
