<h1>Recipes</h1>

<% @recipes.each do |recipe| %>
  <section>
    <h2><%= recipe.name %></h2>
    <h3>Submitted by <%= recipe.user ? recipe.user.email : "Anonymous" %></h5>
    <ul>
      <li><%= link_to "Read", recipe %></li>
      <li><%= link_to "Edit", edit_recipe_path(recipe) %></li>
      <li><%= link_to "Delete", recipe, method: :delete %></li>
    </ul>
  </section>
<% end %>

<footer>
  <%= link_to "Create a New Recipe", new_recipe_path %>
</footer>
