<% content_for :page_header do %>
  <h1><%= @recipe.name %></h1>
<% end %>

<section class="recipe">
  <% if @recipe.user.present? %>
    <h3 class="recipe__byline"><%= @recipe.user.email %></h3>
  <% end %>

  <% if @recipe.link.present? %>
    <p class="recipe__link">From <%= link_to @recipe.link, @recipe.link %></p>
  <% end %>
  <p class="recipe__time"><%= @recipe.time %> minutes</p>
  <ul class="recipe__ingredients">
    <% @recipe.ingredients.each do |i| %>
      <li><%= pluralize_ingredient(i) %></li>
    <% end %>
  </ul>
  <p class="recipe__steps"><%= markdown(@recipe.steps) %></p>
</section>

<% if user_signed_in? %>
  <section class="recipe-actions">
    <ul class="recipe-actions__list">
      <!-- If this recipe is in the current user's meal plan,
           allow them the chance to remove said recipe. -->
      <% unless @meal_plan.nil? %>
        <% if @meal_plan.recipes.include?(@recipe) %>
          <li class="recipe-actions__list-item">
            <%= render partial: "meal_plans/hidden_form_remove_recipe",
              locals: {
                meal_plan: @meal_plan,
                recipe: @recipe,
              }
            %>
          </li>

        <!-- Otherwise, allow the current user to add the recipe
            to their meal plan (as long as they own that recipe). -->
        <% elsif @recipe.user == current_user %>
          <li class="recipe-actions__list-item">
            <%= render partial: "meal_plans/hidden_form_add_recipe",
              locals: {
                meal_plan: @meal_plan,
                recipe: @recipe,
                action: @meal_plan.new_record? ? "create" : "add_recipe"
              }
            %>
          </li>
        <% end %>
      <% end %>

        <!-- If the current user is the creator of this recipe,
            allow them to edit or destroy the recipe. -->
      <% if @recipe.user.present? and @recipe.user == current_user %>
        <li class="recipe-actions__list-item"><%= link_to t('recipes.edit_recipe').html_safe, edit_recipe_path(@recipe), class: "btn btn-success btn-lg btn-recipe-form", role: "button" %></li>
        <li class="recipe-actions__list-item"><%= link_to t('recipes.delete_recipe').html_safe, @recipe, method: :delete, class: "btn btn-danger btn-lg btn-recipe-form", role: "button" %></li>

      <!-- Otherwise, allow the current user to save the recipe
           as a favorite of sorts. -->
      <% else %>
        <li class="recipe-actions__list-item"><%= link_to "Save This One", @recipe, data: { confirm: "Future feature: add a recipe, that you didn't create, to your cookbook.", class: "btn btn-success btn-lg btn-recipe-form", role: "button" } %></li>
      <% end %>
    </ul>
  </section>
<% end %>
