<h1>Recipe</h1>

<h2><%= @recipe.name %></h2>
<h3>Submitted by <%= @recipe.user.email %></h3>
<p><%= @markdown.render(@recipe.ingredients).html_safe %></p>
<p><%= @markdown.render(@recipe.steps).html_safe %></p>
<p><%= @recipe.time %></p>
