<% content_for :page_header do %>                                                                                                                                                                         
  <h1>How's This One Look?</h1>
<% end %>

<section>
  <%= params.inspect %>
</section>

<section class="recipe">
  <h2 class="recipe__name"><%= @recipe.name %></h2>
  <% if @recipe.user.present? %>
    <h3 class="recipe__byline"><%= @recipe.user.email %></h3>
  <% end %>

  <p class="recipe__time"><%= @recipe.time %> minutes</p>
  <p class="recipe__ingredients"><%= markdown(@recipe.ingredients) %></p>
  <p class="recipe__steps"><%= markdown(@recipe.steps) %></p>
</section>

<section class="recipe-actions">
  <ul class="recipe-actions__list">
    <% if @meal_plan.present? and @meal_plan.recipes.include?(@recipe) %>
      <li class="recipe-actions__list-item"><%= link_to "Remove From Meal Plan", remove_recipe_from_meal_plan_path(@meal_plan, @recipe), method: :post %></li>
    <% else %>
      <li class="recipe-actions__list-item"><%= link_to "Add To Meal Plan", add_recipe_to_meal_plan_path(@meal_plan, @recipe), method: :post %></li>
    <% end %>

    <% if @recipe.user.present? and @recipe.user == current_user %>
      <li class="recipe-actions__list-item"><%= link_to "Make Some Changes", edit_recipe_path(@recipe) %></li>
      <li class="recipe-actions__list-item"><%= link_to "Erase From Database", @recipe, method: :delete %></li>
    <% else %>
      <li class="recipe-actions__list-item"><%= link_to "Save This One", @recipe, data: { confirm: "Save this recipe even though you didn't write it yourself." } %></li>
    <% end %>
  </ul>
</section>
