<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%= content_for?(:page_title).presence || 'FOODweek' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		<meta name="description" content="FOODweek. Your recipes. Your meal plan.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
	</head>

  <body class="<%= dash_it(controller_name) %> <%= dash_it(action_name) %>">
		<!--[if lt IE 8]>
		  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

    <%= render "layouts/nav" unless current_page?('/') %>

    <header class="container-fluid page-header page-header__hero" role="banner">
      <div class="text-center page-header__content">
        <!-- If the particular view has some markup for :page_header -->
        <% if content_for?(:page_header) %>
          <%= yield :page_header %>

        <!-- Otherwise, show the hero banner -->
        <% else %>
          <h1 class="page-header__title">FOODweek</h1>
          <div class="logo"><%= image_tag "logo-150.png", alt: "FOODweek logo" %></div>
          <h2 class="page-header__subtitle">Plan your meals for the  week using your favorite recipes from your self-curated cookbook.</h2>
          <h3 class="page-header__motto">We'll even build you a shopping list to take to the grocery store.</h3>
          <div class="page-header__call-to-action"><%= link_to "Start buildling your cookbook <i class=\"glyphicon glyphicon-chevron-right \"></i>".html_safe, new_user_registration_path, class: "btn btn-primary btn-lg" %> </div>
          <div class="page-header__login">
            <p>Already have an account?</p>
            <%= link_to "Log in to your account", new_user_session_path, class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </header>

    <main class="container" role="main">
      <% if notice || alert %>
        <aside class="flash-messages">
          <% if notice %>
            <p class="bg-info flash-messages__notice"><%= notice %></p>
          <% end %>

          <% if alert %>
            <p class="bg-warning flash-messages__alert"><%= alert %></p>
          <% end %>
        </aside>
      <% end %>

      <article class="<%= dash_it(controller_name) %>__article <%= dash_it(controller_name) %>__article--<%= dash_it(action_name) %>">
        <%= yield %>
      </article>
    </main>

    <footer class="container-fluid page-footer" role="contentinfo">
      <div class="footer-junk">
        <p><a href="http://www.rubyrampage.com"><img src="https://d4nnn7wspfa3h.cloudfront.net/rails-rumble-badge-2015-sm.png" alt="Ruby Rampage 2016 Participant" /></a></p>
      </div>
      <div class="footer-junk">
        <p>Designed and built with love by</p>
        <p><a href="http://www.twitter.com/johnhutch">@johnhutch</a></p>
        <p><a href="http://www.twitter.com/jon_athan_hall">@jon_athan_hall</a></p>
        <p><a href="http://www.twitter.com/arbitrarynoun">@arbitrarynoun</a></p>
        </p>
      </div>
      <div class="footer-junk">
        <ul class="metalinks">
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Terms & Conditions", terms_path %></li>
          <li><%= link_to "Privacy Policy", privacy_path %></li>
        </ul>
      </div>
    </footer>
  </body>

</html>
